

@media screen and (max-width:768px) {
    body {
      background-color: blue;
    }


    .card {
        margin: auto;
        background: white;
        border-radius: 20px;
        padding: 15px;
        /* width: 900px; */
        display: flex;
        flex-direction: column-reverse;
  }
}